* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.base {
  background-color: #603601;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  text-align: center; }

.base1 {
  background-color: #CC9544;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  text-align: center; }

.base2 {
  background-image: url(../assets/img/TAPA_DARSHA.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  text-align: center; }

.base3 {
  background-image: url(../assets/img/guardanieves.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  text-align: center; }

header {
  background-color: #1C0A00;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px 0 20px; }
  header div .logo {
    height: 60px;
    width: 120px;
    animation-name: logo;
    animation-iteration-count: 1;
    animation-timing-function: cubic-bezier(1, 0, 0, 1);
    animation-duration: 1s;
    animation-delay: 1s; }
  header div ul {
    display: flex;
    list-style: none;
    flex-direction: row;
    padding-left: 0; }
    header div ul li a .button-navbar {
      height: 20px;
      width: 60px;
      border-radius: 10%;
      border: 1px solid black;
      margin: 5px; }
    header div ul li a .button-navbar:hover {
      transform: scale(1.4); }

@keyframes logo {
  0% {
    rotate: 0deg; }
  100% {
    rotate: 360deg; } }

main {
  background-color: #603601;
  justify-content: center;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: "item-index1" "item-index2";
  gap: 3px;
  margin: 15px;
  justify-items: center; }
  main div .text-index {
    background-color: #CC9544;
    padding: 20px 30px;
    border-radius: 35%;
    text-align: center;
    color: white;
    font-size: 15px; }
  main div .text-index:hover {
    transform: scale(1.2); }
  main div .img-index {
    height: 150px;
    width: 150px; }
  main div .img-index:hover {
    transform: rotateY(180deg); }

.item-index1 {
  grid-area: item-index1; }

.item-index2 {
  grid-area: item-index2; }

.body2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin: 50px 20px; }

.h1 {
  font-size: 40px;
  color: white;
  background-color: #1C0A00;
  text-align: center;
  width: fit-content;
  padding: 10px;
  border-radius: 20%;
  border: 2px solid black; }

.button-submit {
  color: white;
  height: 45px;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 20px;
  margin-top: 10px;
  text-transform: uppercase;
  background-color: #1C0A00;
  border-color: #1C0A00;
  border-style: solid;
  border-radius: 10px;
  width: 420px;
  cursor: pointer; }

.p3 {
  font-size: 15px;
  color: white;
  border: 2px solid black;
  border-radius: 20%;
  padding: 10px;
  text-align: justify; }

.button-linktree {
  height: 50px;
  width: 150px;
  border-radius: 35%;
  border: 2px solid black; }

.contact-me {
  background-color: #CC9544;
  padding: 40px;
  border-radius: 20%;
  border: 2px solid black; }

.base2 {
  background-image: url(../assets/img/TAPA_DARSHA.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  text-align: center; }

.carousel-size {
  margin: 50px 0; }

.base3 {
  background-image: url(../assets/img/guardanieves.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  text-align: center; }

.base1 {
  background-color: #CC9544;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  text-align: center; }

.body1 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: ". item1 . item2 ." ". item3 . item4 .";
  gap: 10px;
  justify-items: center;
  margin: 50px; }

.item1 {
  grid-area: item1; }

.item2 {
  grid-area: item2; }

.item3 {
  grid-area: item3; }

.item4 {
  grid-area: item4; }

.img1 {
  height: 320px;
  width: 560px; }

.p4 {
  font-size: 25px;
  color: white;
  text-align: center; }

.p5 {
  font-size: 15px;
  color: white;
  text-align: center;
  height: 80px;
  width: 300px;
  border-radius: 35%;
  border: 2px solid black; }

footer {
  background-color: #1C0A00;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  margin-top: auto;
  gap: 3px; }
  footer div .redes-logo-footer {
    height: 24px;
    width: 24px; }
  footer div p {
    text-align: center;
    color: white;
    font-size: 10px; }

.derechos {
  text-align: center;
  color: white; }
