* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

header {
  background-color: #1C0A00;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px 0 20px; }
  header div .logo {
    height: 60px;
    width: 120px;
    animation-name: logo;
    animation-iteration-count: 1;
    animation-timing-function: cubic-bezier(1, 0, 0, 1);
    animation-duration: 1s;
    animation-delay: 1s; }
  header div ul {
    display: flex;
    list-style: none;
    flex-direction: row;
    padding-left: 0; }
    header div ul li a .button-navbar {
      height: 20px;
      width: 60px;
      border-radius: 10%;
      border: 1px solid black;
      margin: 5px; }
    header div ul li a .button-navbar:hover {
      transform: scale(1.4); }

@keyframes logo {
  0% {
    rotate: 0deg; }
  100% {
    rotate: 360deg; } }

main {
  justify-content: center;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: "item-index1" "item-index2";
  gap: 3px;
  margin: 15px;
  justify-items: center; }
  main div .text-index {
    background-color: #CC9544;
    padding: 20px 30px;
    border-radius: 35%;
    text-align: center;
    color: white;
    font-size: 15px; }
  main div .text-index:hover {
    transform: scale(1.2); }
  main div .img-index {
    height: 150px;
    width: 150px; }
  main div .img-index:hover {
    transform: rotateY(180deg); }

.item-index1 {
  grid-area: item-index1; }

.item-index2 {
  grid-area: item-index2; }

.base1 {
  background-color: #CC9544;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  text-align: center; }

main section div p {
  font-size: 12px;
  color: white;
  border: 1px solid black;
  border-radius: 100%;
  padding: 5px; }

main section div a img {
  height: 30px;
  width: 90px;
  border-radius: 35%;
  border: 1px solid black; }

main section {
  background-color: #CC9544;
  padding: 10px;
  border: 2px solid black;
  width: 300px; }
  main section h1 {
    font-size: 25px;
    color: white;
    background-color: #1C0A00;
    padding: 5px;
    border: 1px solid black;
    width: 210px;
    margin-left: auto;
    margin-right: auto; }
  main section button {
    color: white;
    height: 20px;
    padding-left: 2px;
    padding-right: 2px;
    margin-bottom: 10px;
    margin-top: 5px;
    text-transform: uppercase;
    background-color: #1C0A00;
    border-color: #1C0A00;
    border-style: solid;
    border-radius: 10px;
    width: 180px;
    font-size: 13px;
    cursor: pointer; }

main .section1 {
  background-color: #603601;
  border: none; }

.base {
  background-color: #603601;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  text-align: center; }

.base2 {
  background-image: url(../assets/img/TAPA_DARSHA.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  text-align: center;
  justify-content: center; }

.base3 {
  background-image: url(../assets/img/guardanieves.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  text-align: center; }

main div img {
  height: 150px;
  width: 300px; }

main div .text-hector {
  font-size: 10px;
  color: white;
  text-align: center;
  height: 80px;
  width: 150px;
  border-radius: 35%;
  border: 2px solid black;
  justify-content: center;
  padding-top: 12px; }

main div p {
  font-size: 25px;
  color: white; }

main div .video-vertigo {
  width: 300;
  height: 150; }

.item1 {
  grid-area: item1; }

.item2 {
  grid-area: item2; }

.item3 {
  grid-area: item3; }

.item4 {
  grid-area: item4; }

.base1 {
  background-color: #CC9544;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  text-align: center; }

.main-vertigo {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas: "item1" "item2" "item3" "item4";
  justify-items: center;
  margin: 10px; }

footer {
  background-color: #1C0A00;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  margin-top: auto;
  gap: 3px; }
  footer div .redes-logo-footer {
    height: 24px;
    width: 24px; }
  footer div p {
    text-align: center;
    color: white;
    font-size: 10px; }

.derechos {
  text-align: center;
  color: white; }

@media (min-width: 480px) {
  header div .logo {
    height: 70px;
    width: 140px; }
  header div ul li a .button-navbar {
    height: 30px;
    width: 90px;
    margin: 8px; }
  main div .text-index {
    padding: 25px 40px;
    font-size: 18px; }
  main div .img-index {
    height: 180px;
    width: 180px; }
  main section div p {
    font-size: 14px;
    border: 2px solid black;
    padding: 8px; }
  main section div a img {
    height: 40px;
    width: 120px;
    border: 2px solid black; }
  main section h1 {
    font-size: 30px;
    border: 2px solid black; }
  main section button {
    height: 30px;
    width: 200px;
    font-size: 14px; }
  main div img {
    height: 225px;
    width: 450px; }
  main div .text-hector {
    font-size: 15px;
    height: 100px;
    width: 250px; }
  main div p {
    font-size: 30px; }
  main div .video-vertigo {
    width: 400;
    height: 200; }
  .item1 {
    grid-area: item1; }
  .item2 {
    grid-area: item2; }
  .item3 {
    grid-area: item3; }
  .item4 {
    grid-area: item4; }
  footer div .redes-logo-footer {
    height: 32px;
    width: 32px; }
  footer div p {
    font-size: 12px; } }

@media (min-width: 768px) {
  header {
    flex-direction: row;
    padding: 50px; }
    header div .logo {
      height: 90px;
      width: 180px; }
    header div ul li a .button-navbar {
      height: 35px;
      width: 105px;
      margin: 10px; }
  main div .text-index {
    padding: 25px 40px;
    font-size: 22px; }
  main div .img-index {
    height: 220px;
    width: 220px; }
  main section div p {
    font-size: 14px;
    border: 2px solid black;
    padding: 8px; }
  main section div a img {
    height: 40px;
    width: 120px;
    border: 2px solid black; }
  main section h1 {
    font-size: 30px;
    border: 2px solid black; }
  main section button {
    height: 30px;
    width: 200px;
    font-size: 14px; }
  main div img {
    height: 300px;
    width: 600px; }
  main div .text-hector {
    font-size: 20px;
    height: 125px;
    width: 300px; }
  main div p {
    font-size: 30px; }
  main div .video-vertigo {
    width: 600;
    height: 300; }
  .item1 {
    grid-area: item1; }
  .item2 {
    grid-area: item2; }
  .item3 {
    grid-area: item3; }
  .item4 {
    grid-area: item4; }
  footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-template-areas: "item-footer1 item-footer2 item-footer3"; }
    footer div .redes-logo-footer {
      height: 32px;
      width: 32px; }
    footer div p {
      font-size: 12px; } }

@media (min-width: 1024px) {
  header {
    flex-direction: row;
    padding: 50px; }
    header div .logo {
      height: 110px;
      width: 220px; }
    header div ul li a .button-navbar {
      height: 40px;
      width: 120px;
      margin: 15px; }
  main {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: " item-index1 . " " . item-index2 "; }
    main div .text-index {
      padding: 25px 40px;
      font-size: 22px; }
    main div .img-index {
      height: 220px;
      width: 220px; }
  main section div p {
    font-size: 14px;
    border: 2px solid black;
    padding: 8px; }
  main section div a img {
    height: 40px;
    width: 120px;
    border: 2px solid black; }
  main section h1 {
    font-size: 30px;
    border: 2px solid black; }
  main section button {
    height: 30px;
    width: 200px;
    font-size: 14px; }
  footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-template-areas: "item-footer1 item-footer2 item-footer3";
    padding: 30px; }
    footer div .redes-logo-footer {
      height: 36px;
      width: 36px; }
    footer div p {
      font-size: 15px; } }
