main{
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: repeat(2,1fr);
    grid-template-areas:
    "item-index1"
    "item-index2"
    ;
    gap: 3px;
    margin: 15px;
    justify-items: center;
    div {
        .text-index {
            background-color: #CC9544;
            padding: 20px 30px;
            border-radius: 35%;
            text-align: center;
            color: white;
            font-size: 15px;
        }
        .text-index:hover{
            transform: scale(1.2);
        }
    }
    div {
        .img-index{
            height: 150px;
            width: 150px;
        }
        .img-index:hover{
            transform: rotateY(180deg);
        }
    }
}

.item-index1{
    grid-area: item-index1;
}

.item-index2{
    grid-area: item-index2;
}

.base1{
    background-color: #CC9544;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    text-align: center;
}