main {
    div {
        img {
            height: 150px;
            width: 300px;
        }
    }
    div {
        .text-hector {
            font-size: 10px;
            color: white;
            text-align: center;
            height: 80px;
            width: 150px;
            border-radius: 35%;
            border: 2px solid black;
            justify-content: center;
            padding-top: 12px;
        }
    }
    div {
        p {
            font-size: 25px;
            color: white;
        }
    }
    div {
        .video-vertigo{
            width: 300;
            height: 150;
        }
    }
}

.item1 {
    grid-area: item1;
}

.item2 {
    grid-area: item2;
}

.item3 {
    grid-area: item3;
}

.item4 {
    grid-area: item4;
}

.base1{
    background-color: #CC9544;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    text-align: center;
}

.main-vertigo{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: repeat(4,1fr);
    grid-template-areas:
    "item1"
    "item2"
    "item3"
    "item4"
    ;
    justify-items: center;
    margin: 10px;
}