.base3{
    background-image: url(../assets/img/guardanieves.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    text-align: center;
}