@media (max-width:768px) {

    .body{
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(2,1fr);
        grid-template-areas:
        "item5 ."
        ". item6"
        ;
        gap: 5px;
        margin: 25px;
    }
    
    .contact-me{
        margin-left: 10px;
    }
    
    }