@media (min-width:768px) {
    header {
        flex-direction: row;
        padding: 50px;
        div {
            .logo {
                height: 90px;
                width: 180px;
            }
        }
        div {
            ul {
                li {
                    a {
                        .button-navbar {
                            height: 35px;
                            width: 105px;
                            margin: 10px
                        }
                    }
                }
            }
        }
    }

/////////////////////////////INDEX////////////////////////////

    main {
        div {
            .text-index {
                padding: 25px 40px;
                font-size: 22px;
            }
        }
        div {
            .img-index {
                height: 220px;
                width: 220px;
            }
        }
    }

/////////////////////////////CONTACTO////////////////////////////
    
    main {
        section {
            div {
                p {
                    font-size: 14px;
                    border: 2px solid black;
                    padding: 8px;
                }
            }
            div {
                a {
                    img {
                        height: 40px;
                        width: 120px;
                        border: 2px solid black
                    }
                }
            }
        }
        section {
            h1 {
                font-size: 30px;
                border: 2px solid black;
            }
            button {
                height: 30px;
                width: 200px;
                font-size: 14px;
            }
        }
    }

/////////////////////////////VERTIGO////////////////////////////

    main {
        div {
            img {
                height: 300px;
                width: 600px;
            }
        }
        div {
            .text-hector{
                font-size: 20px;
                height: 125px;
                width: 300px;
            }
        }
        div {
            p {
                font-size: 30px;
            }
        }
        div {
            .video-vertigo{
                width: 600;
                height: 300;
            }
        }
    }

    .item1 {
        grid-area: item1;
    }

    .item2 {
        grid-area: item2;
    }

    .item3 {
        grid-area: item3;
    }

    .item4 {
        grid-area: item4;
    }

/////////////////////////////FOOTER////////////////////////////    

    footer {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(1,1fr);
        grid-template-areas:
        "item-footer1 item-footer2 item-footer3"
        ;
        div {
            .redes-logo-footer {
                height: 32px;
                width: 32px;
            }
        }
        div {
            p {
                font-size: 12px;
            }
        }
    }
}