@media (min-width:1024px) {
    header {
        flex-direction: row;
        padding: 50px;
        div {
            .logo {
                height: 110px;
                width: 220px;
            }
        }
        div {
            ul {
                li {
                    a {
                        .button-navbar {
                            height: 40px;
                            width: 120px;
                            margin: 15px
                        }
                    }
                }
            }
        }
    }

/////////////////////////////INDEX////////////////////////////

    main {
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(2,1fr);
        grid-template-areas:
        " item-index1 . "
        " . item-index2 "
        ;
        div {
            .text-index {
                padding: 25px 40px;
                font-size: 22px;
            }
        }
        div {
            .img-index {
                height: 220px;
                width: 220px;
            }
        }
    }

/////////////////////////////CONTACTO////////////////////////////
    
    main {
        section {
            div {
                p {
                    font-size: 14px;
                    border: 2px solid black;
                    padding: 8px;
                }
            }
            div {
                a {
                    img {
                        height: 40px;
                        width: 120px;
                        border: 2px solid black
                    }
                }
            }
        }
        section {
            h1 {
                font-size: 30px;
                border: 2px solid black;
            }
            button {
                height: 30px;
                width: 200px;
                font-size: 14px;
            }
        }
    }


/////////////////////////////VERTIGO////////////////////////////



/////////////////////////////FOOTER////////////////////////////    

    footer {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(1,1fr);
        grid-template-areas:
        "item-footer1 item-footer2 item-footer3"
        ;
        padding: 30px;
        div {
            .redes-logo-footer {
                height: 36px;
                width: 36px;
            }
        }
        div {
            p {
                font-size: 15px;
            }
        }
    }
}